<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Nuestra APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="titulo">Conoce nuestra APP</ion-card-title>
    <ion-card-content>
      <p class="parrafo2">
        RegistrAPP es una aplicación orientada a solucionar los diversos problemas que genera al registrar la asistencia de clases.
        <br>
        <br>
        Rapidez, seguridad y eficiencia son algunas de las características que nos hacen distinto a las otras apps,
        RegistrAPP cuenta con herramientas de muy fácil uso, los alumnos podrán registrar su asistencia a través de un
        código QR con su smartphone, el cual será visualizado en la sala de clases, el profesor será el encargado de
        generar dicho Código, TU ASISTENCIA FÁCIL es nuestro eslogan y cumple fielmente lo prometido.
        <br><br>
        Ven a vivir la experiencia de RegistrAPP y haz más fácil tu vida.
        <br><br>


      </p>
      <h5  >DESCARGALA YA!</h5>
    </ion-card-content>

    <img src="assets/captura.png" class="ion-padding">


  </ion-card>

</ion-content>