ion-content {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
        url("/assets/fondoreg.png") no-repeat center center / cover;
}

ion-card {
    background-color: rgb(108, 117, 114);
    color: white;

    margin-top: 40%;
    opacity: 0.8;
}

ion-header {
    opacity: 0.8;
}
h5{
    color: black;
}
.titleNuestraApp{
    text-align: center;
}