ion-content {
    --background: linear-gradient(0deg, rgba(0, 0 ,0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/fondo3.png") no-repeat center center / cover;
}

ion-card{  
    margin-top: 110%;
    background: rgba(5,7,12,0.30);
    opacity: 0.7;      
}

#link1{
    color: white;
    font-size: 90%;
    float: right;
    margin-right: 2%;
}  

#link2{
    color: white;
    font-size: 90%;
    float: right;
    margin-right: 2%;
}   

#informacion{
    margin-left: 5%;
    color: white;
}

#doc{
    margin-left: 10%;
    color: white;
    opacity: 0.4;   
}
.labelc{
    text-align: left;
}
.buttonIniciar{
    text-align: center;
}
.quienes{
    text-align: left;
    margin-left: 5%;
    color: white;
}
.title{
    text-align: center;
}
