<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="title">Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-card>

    <form [formGroup]="formularioLogin">
      
     
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="labelc" position="floating">Correo:</ion-label>
            <ion-input formControlName="correo" type="email" placeholder="Email"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input formControlName="contraseña" type="password" placeholder="Ingrese contraseña"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>


    <ion-button class="buttonIniciar" (click)="Ingresar()" expand="block">INICIAR SESÍON</ion-button>

    <a routerLink='/conocenos' class="quienes">Quienes Somos</a>

    <a id="link1" [routerLink]="['/registrar']">Registrarse</a>
   

  </ion-card>

 
</ion-content>