ion-content {
    --background: linear-gradient(0deg, rgba(0, 0 ,0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/camara2.png") no-repeat center center / cover;
}



#cerrar{
    color: blue;
    font-size: 90%;
    float: right ;
    margin-right: 4%;

}

img{
    width: 60%;
    margin-top: 98%;
    margin-left: 20%;
  
}
ion-header{
    opacity: 0.9;
}
ion-title{
    text-align: center;
}

h2{
    text-align: center;
}