<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start"></ion-buttons>

    <ion-title>Portal Docente</ion-title>
    <a id="cerrar" (click)=" cerrarSesion()">salir</a>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-button type="submit" expand="block" [routerLink]="['/qr']">GENERAR CODIGO QR</ion-button>
    <BR>
    <ion-button type="submit" expand="block" [routerLink]="['/info-docente']">INFORMACION DE CLASES</ion-button>
  </ion-card>






</ion-content>